server:
  port: 9090


spring:
  datasource:
    url: jdbc:mysql://localhost:3306/demo
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver


#  devtools:
#    remote:
#      restart:
#        enabled: true